:root {
  --font: 'Epilogue', sans-serif;

  --bkg: #ece9fd;
  --purple: #7158ef;
  --black: #090039;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bkg);
  font-family: var(--font);
  padding: 2rem;
}

header h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0;
  color: var(--purple);
}

header h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

header p {
  padding: 1rem 0;
  line-height: 1.5rem;
}

header a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

main .wrapper:first-child {
  margin-top: 1rem;
}

main .wrapper {
  display: flex;
  flex-direction: column;
}

main .wrapper .text {
  font-weight: 700;
  font-size: 2rem;
  word-wrap: break-word;
}

main .wrapper .number {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem;
  }

  header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    align-self: start;
  }

  main .wrapper .number {
    margin: 0;
    padding-right: 2rem;
  }
}
